[Desktop Entry]
Type=Application
Exec=/usr/bin/system76-power profile performance
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=High Performance mode
Name=High Performance mode
Comment[en_US]=Set profile to performance
Comment=Set profile to performance
